# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=your-database

# POSTGRESQL
POSTGRES_HOST=your-host
POSTGRES_PORT=your-port
POSTGRES_USERNAME=your-username
POSTGRES_PASSWORD=your-password
POSTGRES_DATABASE=your-database

# GMAIL
EMAIL_USER=your-email-user
MAIL_TO=your-target-email
EMAIL_PASSWORD=your-pass-code


# GOOGLE OAUT2.0
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_URL=http://localhost:3000/
GOOGLE_URL_CALLBACK=http://localhost:3000/

PORT=3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret