# Server Configuration
PORT=your-back-end-port
NODE_ENV=development
FRONTEND_URL=your-front-end-url

# JWT Configuration
JWT_SECRET=your-secret

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=mongo-database

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=your-password
POSTGRES_DATABASE=capstone_db
POSTGRES_SSL=false #true when in production environment

# GMAIL
EMAIL_USER="your-email@example.com"
MAIL_TO="your-email@example.com"
EMAIL_PASSWORD="your-email-password"


# GOOGLE OAUT2.0
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-secret
GOOGLE_URL=google-login-url
GOOGLE_CALLBACK_URL=google-callback-url

# Data Encryption Configuration
# Generate a new key using: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=your-64-character-hex-string-here

SIS_SIGNATURE_SECRET=super_secret_key_for_encrypting_private_keys
